
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin_Dashboard</title>
</head>
<body>
    <div>
        <h5>Admin_Dashboard</h5>
        <br>
        <span><a href="~/Admin/DoctorRequest">REQUESTED DOCTOR'S LIST</a></span>

        <br>

        <span> <a href="~/Admin/DoctorActionflow">ACTION HISTORIES</a> </span>
    </div>
</body>
</html>
