
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin_Dashboard</title>
</head>
<body>
    <div>
        <h3>admin can choose what to view here</h3>
        <br>
        <span><a href="~/Admin/DoctorRequest">Go to doc req page</a></span>
        <br>
        <span> <a href="~/Admin/DoctorActionflow"> Go to doctors action flow </a> </span>
    </div>
</body>
</html>
