
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoctorActionflow</title>
</head>
<body>
    <div> 
        <h3>doctors actionflow will be displayed </h3>
    </div>
</body>
</html>
