
@model DataAccessLayer.model.loginmodel
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
    <style>
        body {
            background-image: url('../../Content/whilog.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body >

    <center>
        <div>

            <br>
            <br>
            <br>
            <br>
            <br>


            <h2>Login Page</h2>
            @using (Html.BeginForm("SignIn", "LoginPage", FormMethod.Post))
            {

                @Html.EditorForModel()

                <input type="submit" value="Login" />
            }

            <br>

            <span><a href="~/Patient/NewPatient">Register as New Patient</a></span>
            <br>
            <span><a href="~/Doctor/NewDoctor">  Register as New Doctor </a> </span>
            <br>
            @Html.ValidationSummary()
        </div>
        </center>

</body>
</html>
