@model List<DataAccessLayer.choosedocdata>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChooseDoctor</title>
</head>
<body>
    <div>
        <h2>choose doctor</h2>
        <table border="1">
            <tr>
            <td><p>Doctor Name</p></td>
            <td><p>Address </p></td>
            <td><p>Phone Number</p> </td>
           
            <td><p>Add Appointment</p></td>
            </tr>

            @{
                foreach (var i in Model)
                {
                    <tr>
                        <td>@i.DoctorName</td>
                        <td>@i.Address</td>
                        <td>@i.MobileNumber</td>
                        
                        <td><a href="~/Patient/Appointment?docid=@i.DoctorId">Click Here</a></td>


                    </tr>
                }
            }
        </table>
        <span> <a href="~/Patient/PatientDashboard"> Patient Dashboard  </a> </span>
    </div>
</body>
</html>
