@model List<DataAccessLayer.choosedocdata>
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChooseDoctor</title>
</head>
<body>
    <div>
        <h2>Choose Doctor</h2>
        <table border="1">
            <tr>
            <th><p>Doctor Name</p></th>
            <th><p>Address </p></th>
            <th><p>Phone Number</p> </th>
            <th><p>Add Appointment</p></th>
            </tr>

            @{
                foreach (var i in Model)
                {
                    <tr>
                        <td>@i.DoctorName</td>
                        <td>@i.Address</td>
                        <td>@i.MobileNumber</td>
                        
                        <td><a href="~/Patient/Appointment?docid=@i.DoctorId">Click Here</a></td>


                    </tr>
                }
            }
        </table>
        <span> <a href="~/Patient/PatientDashboard"> Patient Dashboard  </a> </span>
    </div>
</body>
</html>
