@model List<DataAccessLayer.hospitaldata>
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HospitalDetails</title>
</head>
<body>
    <div>
        <h2>Hospital Details</h2>

        <table border="1">
            <tr> 
            <th><p>Hospital Name</p></th>
            <th><p>Address </p></th>
            <th><p>Phone Number </p></th>
            <th><p>Choose Doctor</p></th>
            </tr>
            @{
                foreach (var i in Model)
                {
                        <tr>
                            <td>@i.hospitalName</td>
                            <td>@i.Address</td>
                            <td>@i.MobileNumber</td>
                            <td><a href="~/Patient/ChooseDoctor?hpid=@i.hospitalId">Click Here</a></td>

                            
                        </tr>
                }
            }
        </table>
    </div>
</body>
</html>
