
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PatientHomepage</title>
</head>
<body>
    <div>
        <h2>Patient Homepage</h2>
        <br>
        <span><a href="~/Patient/PatientDashboard">Go to dashboard </a></span>
        <br>
        <span> <a href="~/Patient/Speciality"> New problem  </a> </span>
    </div>
</body>
</html>
