 
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Speciality</title>

</head>
<body>
    <div>
        <h2>Choose Speciality</h2>
        <table>
            <tr>
                <td><button onclick="location.href = 'http://localhost:60992/Patient/HospitalDetails?spid=1';" value="1">Dermotologist</button></td>
                <td><button onclick="location.href = 'http://localhost:60992/Patient/HospitalDetails?spid=2';" value="2">Physician</button></td>
                <td><button onclick="location.href = 'http://localhost:60992/Patient/HospitalDetails?spid=3';" value="3">Gynaecologist</button></td>
            </tr>
            <tr>
                <td><button onclick="location.href = 'http://localhost:60992/Patient/HospitalDetails?spid=4';"  value="4">Orthopedician</button></td>
                <td><button onclick="location.href = 'http://localhost:60992/Patient/HospitalDetails?spid=5';"  value="5">Psychiatrist</button></td>
                <td><button onclick="location.href = 'http://localhost:60992/Patient/HospitalDetails?spid=6';"  value="6">Pediatrician</button></td>
            </tr>
            <tr>
                <td><button onclick="location.href = 'http://localhost:60992/Patient/HospitalDetails?spid=7';"  value="7">Gastro-entrology</button></td>
                <td><button onclick="location.href = 'http://localhost:60992/Patient/HospitalDetails?spid=8';"  value="8">Urologist</button></td>
                <td><button onclick="location.href = 'http://localhost:60992/Patient/HospitalDetails?spid=9';"  value="9">Dentist</button></td>
            </tr>
        </table>
    </div>
</body>
</html>
