
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoctorPrescription</title>
</head>
<body>
    <div>
        <h2>doctor add prescription </h2>
        @using (Html.BeginForm("DoctorPrescription", "Doctor"))
        {
            <span>
                Add prescription
            </span>
            @Html.TextBox("prescription");
            <input type="submit" value="Add" />
        }
    </div>
</body>
</html>
